@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xkp6yr');
  src:  url('fonts/icomoon.eot?xkp6yr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?xkp6yr') format('woff2'),
    url('fonts/icomoon.ttf?xkp6yr') format('truetype'),
    url('fonts/icomoon.woff?xkp6yr') format('woff'),
    url('fonts/icomoon.svg?xkp6yr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e909";
}
.icon-care:before {
  content: "\e900";
}
.icon-decontamination:before {
  content: "\e902";
}
.icon-environment:before {
  content: "\e903";
}
.icon-hand:before {
  content: "\e904";
}
.icon-pathogens:before {
  content: "\e905";
}
.icon-patient:before {
  content: "\e906";
}
.icon-surveillance:before {
  content: "\e907";
}
.icon-technology:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e901";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-print:before {
  content: "\f02f";
}
.icon-play:before {
  content: "\f04b";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-youtube:before {
  content: "\f167";
}

